body{ max-width: 1920px; width: 100%; color: chartreuse; background-color: black;}

h1{font-size : 1.4rem; color:cornflowerblue}
h2{font-size : 1.2rem; color:lightsteelblue}
h3{font-size : 1.1rem; color:mediumturquoise}
h4{font-size : 1rem; color:cornflowerblue}